/* pt-9 */
/* filtered */

/*     
@media (max-width: 1024px) { 
    #filtered {
        padding-top: 30px;
        margin-top: 50px;
        position: fixed;

    }
}

@media (max-width: 800px) { 
  #filtered {
  
    padding-top: 30px;
    margin-top: 50px;
position: fixed;

  }
}

*/
@media (max-width: 640px) {  
    #filtered {
      padding-top: 30px;
      margin-top: 50px;

      position: fixed;

    }
}
    

