#slider{
    display: none;
    /* z-index: -1; */
}



html, body {
    max-width: 100%;
    overflow-x: hidden;
}

img {
    filter: grayscale(100%) brightness(0);
}



/* @media (max-width: 800px) { 
    #slider {
      margin-top: 300px; 
    }
  }
  
  @media (max-width: 640px) { 
    #slider {
      margin-top: 300px;
  
    }
  } */

 