<div class="relative min-h-screen">
  <div class="flex h-full">
    <div
      id="xx"
      class="text-white absolute top-[1%] left-0 z-20 w-72 cursor-pointer"
    >
      <app-sidebar
        id="slider"
        (total_page)="updatetotalpage($event)"
        (sortedProducts)="updateProducts($event)"
        (dataToParent)="updateDatapages($event)"
        (noProductsFoundChange)="onNoProductsFoundChange($event)"
        (searchTextChange)="receiveSearchText($event)"
      ></app-sidebar>
    </div>

    <div class="flex-1 ml-[calc(85px)]">
      <div class="block">
        <button
          (mouseenter)="onHover(true)"
          (mouseleave)="onHover(false)"
          class="flex space-evenly w-[100px] z-20 ml-8"
        >
          <b
            ><app-filtered-image
              class="pb-4 pl-4 pr-4"
              id="filterr"
            ></app-filtered-image
          ></b>
        </button>

        @for (item of x; track item._id) {
        <app-productitem
          [products]="item"
          [rate]="item.rate"
          class="products-item"
        >
        </app-productitem>
        }

        <!-- ///////////////////////////////////////// -->

        <!-- //////////////////////////not found -->

        @if(!x.length && flag){
        <div>
          <app-not-product-found
            id="img"
            style="display: block"
          ></app-not-product-found>
        </div>
        } @else {
        <div>
          <app-not-product-found
            id="img"
            style="display: none"
          ></app-not-product-found>
        </div>
        }

        <!-- hany -->

        <div class="mt-5 mb-5 flex justify-center flex-wrap items-center">
          <button id="prev" (click)="pressclickedp()" class="...">
            <i class="fa-solid fa-chevron-left text-l font-bold"></i>
          </button>

          <ng-container *ngIf="arrr.length > 0">
            <button
              *ngFor="let item of arrr"
              type="button"
              class="text-black font-medium rounded-lg text-lg px-4 py-2.5 mb-2 ml-2 bttngen"
              (click)="item !== '...' ? press($event) : null"
            >
              {{ item }}
            </button>
          </ng-container>

          <div id="next" (click)="pressclickedn()" class="...">
            <i class="fa-solid fa-chevron-right text-l font-bold"></i>
          </div>
        </div>

        <!-- ----------------------------Slider of page------------------------------>
        <!-- 
        <div class="mt-5 mb-5 flex justify-center flex-wrap items-center">

          <button  id="prev"  (click)="pressclickedp($event)"
         
          
          class="flex items-center justify-center w-[50px] h-[50px]   rounded-full hover:bg-gray-100 cursor-pointer mb-2   ">
            <i class="fa-solid fa-chevron-left text-l font-bold"></i>
          </button>
          @if(arr.length > 0){
            <ng-container *ngIf="arr.length > 0">
              <button
                *ngFor="let item of arr; let i = index"
                type="button"
                class="text-black  hover:bg-gray-100  font-medium rounded-lg text-lg px-4 py-2.5  mb-2 ml-2"
                (click)="press($event)"

                [ngClass]="{
                  'bg-gray-50 text-black': item === buttonValueclickedd,
                  'bg-gray-150 hover:bg-gray-300 text-black': item !== buttonValueclickedd
                }"
              
              >
                {{ item }}
              </button>
            </ng-container>
          }
         
        
         @else  {
          @if(flag){
          <ng-container >
            <button   type="button"
            class="text-black bg-gray-100 hover:bg-gray-200   font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
            (click)="reloadPage()">
            return
          </button>


          </ng-container>
        }
         }
         
         <div    id="next"  (click)="pressclickedn($event)"  class="flex items-center justify-center w-[50px] h-[50px]   rounded-full hover:bg-gray-100 cursor-pointer mb-2 ">
          <i class="fa-solid fa-chevron-right text-l font-bold"></i>
        </div>
               </div> 

-->

        <!-- ///////////////// -->
      </div>
    </div>
  </div>
</div>
