<div
  class="grid lg:grid-cols-12 max-w-full h-full overflow-x-hidden gap-6 lg:gap-0"
>
  <!-- title & count items -->
  <div class="w-[80%] lg:col-span-8 mx-auto mt-6 overflow-x-hidden">
    <div class="flex items-center justify-center">
      <h1 class="text-3xl font-semibold text-center">Shopping Cart</h1>
    </div>
    <hr class="bg-gray-color text-gray-color h-[2px] mt-3" />
    <!-- remove all -->
    <div class="flex items-center justify-between mt-3">
      <p class="items text-lg font-semibold text-center">7 items</p>
      <button
        class="remove-all text-lg font-semibold hover:text-red-600 active:scale-95"
        (click)="removeAllProducts()"
      >
        Remove All
      </button>
    </div>
    <!-- Cart-Products with quantities -->
    <div class="Products flex flex-col gap-4 mt-7">
      <div
        *ngFor="let product of cart; let i = index"
        class="product flex items-center justify-between shadow-md rounded-lg"
        (click)="goToDetails(product)"
      >
        <div class="flex items-center gap-4">
          <img
            [src]="product.image"
            alt=""
            class="w-[80px] h-[80px] rounded-lg object-cover"
          />
          <div class="flex flex-col gap-2">
            <h1 class="text-xl font-semibold">{{ product.name }}</h1>
            <p class="text-gray-color text-sm">{{ product.category }}</p>
            <p class="text-base font-semibold">EGP {{ product.price }}</p>
          </div>
        </div>
        <button
          (click)="removeProduct(i, $event)"
          class="remove text-lg font-semibold active:scale-95 hover:scale-110 mr-10"
        >
          <i class="fa-solid fa-trash-can text-red-600"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- checkout -->
  <div
    class="overflow-x-hidden bg-background-color w-full lg:col-span-4 flex flex-col items-center rounded-lg shadow-md"
  >
    <h1 class="text-2xl font-semibold mt-6">Order Summary</h1>
    <hr class="bg-gray-color text-gray-color h-[2px] w-[80%] mt-3" />
    <!-- Items Count -->
    <div class="flex justify-between w-[80%] mt-3">
      <p class="text-lg font-semibold">7 Items</p>
      <p class="text-lg font-semibold">EGP 10000</p>
    </div>

    <!-- Shipping Fees -->
    <div class="flex justify-between w-[80%] mt-6">
      <p class="text-lg font-semibold">Shipping Fees</p>
      <p class="text-lg font-semibold">EGP 300</p>
    </div>

    <hr class="bg-gray-color text-gray-color h-[2px] w-[80%] mt-3" />

    <!-- Total Cost -->
    <div class="flex justify-between w-[80%] mt-6">
      <p class="text-xl font-semibold">Total Cost</p>
      <p class="text-xl font-semibold text-primary">EGP 10300</p>
    </div>

    <!-- Checkout Button -->
    <button
      class="bg-black text-white px-10 mt-7 mb-8 py-2 rounded-xl transition-all hover:scale-105 active:scale-95"
    >
      Checkout
    </button>
  </div>
</div>
