<div class="relative w-full min-h-screen overflow-x-hidden">
  <!-- Background Image -->
  <div
    class="absolute inset-0 bg-cover bg-center opacity-70"
    style="background-image: url('/asserts/about.jpg')"
  ></div>
  <div class="absolute inset-0 bg-black opacity-70"></div>

  <!-- Content Wrapper -->
  <div
    class="max-w-screen-xl flex flex-col items-center justify-center pt-10 space-y-10 mx-auto"
  >
    <!-- Title Section -->
    <div class="relative z-10 flex flex-col items-center text-center space-y-5">
      <div
        class="text-4xl md:text-[66px] font-semibold text-white"
        style="font-family: 'Poor Richard', serif"
      >
        Vinto
      </div>
      <div>
        <img
          id="icn"
          src="/asserts/Vector.jpg"
          alt="Image not found"
          class="h-5 mb-5 md:h-8 absolute -top-1/4 -right-1/4 transform -translate-x-1/2"
        />
      </div>
    </div>

    <!-- Description Section -->
    <div
      class="relative z-10 text-lg md:text-xl text-white text-center mx-auto px-4"
    >
      At Vinto, we bring history to life by connecting you with timeless
      treasures from the past. Our carefully curated collection of antiques and
      vintage finds tells stories of craftsmanship, heritage, and elegance.
      Whether you're a collector, an enthusiast, or someone looking for a unique
      piece with a rich history, Vinto is your destination for rare and
      exquisite discoveries.
    </div>

    <!-- Quote Section -->
    <div
      class="relative z-10 text-2xl lg:text-4xl font-semibold text-white text-center py-20"
    >
      <pre>
    Every antique holds a story,
    
    waiting to be discovered.
      </pre>
    </div>
  </div>
</div>
