<div class="relative w-screen min-h-screen overflow-hidden">
  <div
    class="absolute inset-0 bg-cover bg-center opacity-70"
    style="background-image: url('/asserts/about.jpg')"
  ></div>

  <div class="absolute inset-0 bg-black opacity-70"></div>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-start pt-10 ml-[549px]"
  >
    <ul
      class="font-medium flex flex-col p-4 md:p-0 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-[20px]"
    >
      <li>
        <a href="#" class="block py-2 px-3 text-white">Home</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 text-white">LogIn</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 text-white">Sign Up</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 text-white">About Us</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 text-white">Products</a>
      </li>
    </ul>
  </div>
  <!-- </nav> -->
  <div
    class="relative z-10 flex flex-wrap items-center space-x-2 mt-10 mx-auto md:ml-[100px] text-center"
  >
    <div
      class="text-4xl md:text-[66px] font-semibold text-white"
      style="font-family: 'Poor Richard', serif"
    >
      Vinto
    </div>
    <diV>
      <img
        id="icn"
        src="/asserts/Vector.jpg"
        alt="Image not found"
        class="flex md:h-8 mb-5"
      />
    </diV>
  </div>

  <div
    class="relative z-10 text-[20px] text-white ml-[100px] mt-[50px]"
    style="font-family: 'Poppins', sans-serif"
  >
    At Vinto, we bring history to life by connecting you with timeless treasures
    from the past. Our carefully curated collection of antiques and vintage
    finds tells stories of craftsmanship, heritage, and elegance. Whether you're
    a collector, an enthusiast, or someone looking for a unique piece with a
    rich history, Vinto is your destination for rare and exquisite discoveries.
  </div>

  <div
    class="relative z-10 text-2xl md:text-[50px] mt-[100px] font-semibold text-white w-full text-center pb-[300px] pt-[100px]"
    style="font-family: 'Poppins', sans-serif"
  >
    <pre>
    Every antique holds a story, 

    waiting to be discovered.
</pre
    >
  </div>
</div>
