<footer class="shadow-sm mt-auto sticky z-50">
  <div
    class="w-full max-w-screen-xl flex items-center justify-center p-4 md:py-4"
  >
    <!-- Footer Content -->
    <div class="flex flex-col items-center justify-center mt-20">
      <!-- Vinto Brand -->
      <div
        class="text-4xl flex relative sm:text-4xl md:text-6xl font-semibold whitespace-nowrap mb-4"
        style="font-family: 'Poor Richard', serif"
      >
        Vinto
        <div class="">
          <img
            src="/Images/logo.svg"
            alt="Image not found"
            class="absolute -top-1/4 md:h-8 md:w-8 w-6"
          />
        </div>
      </div>

      <!-- Footer Links -->
      <ul
        class="flex flex-wrap justify-center gap-3"
        style="font-family: 'Poppins', sans-serif"
      >
        <li><a href="#" class="text-white text-lg">Privacy</a></li>
        <li><a href="#" class="text-white text-lg">Service</a></li>
        <li><a href="#" class="text-white text-lg">Information</a></li>
        <li><a href="#" class="text-white text-lg">Social Media</a></li>
      </ul>
    </div>
  </div>
</footer>
