<nav class="h-[10%] fixed z-50 top-0 md:static w-full bg-black flex justify-center">
  <div class="container h-full flex justify-around md:justify-between items-center w-full">
    <!-- sidebar -->
    <div class="md:hidden">
      <button (click)="toggleSidebar()" class="cursor-pointer btn btn-ghost btn-circle w-5">
        <div class="hamburger-icon flex flex-col items-center justify-between w-6 h-4">
          <div class="line w-full h-[1px] bg-white transition-all duration-500 ease-in-out" [ngClass]="{
              'rotate-45 translate-y-[7px]': isSidebarOpen,
              'rotate-0 translate-y-0': !isSidebarOpen
            }"></div>
          <div class="line w-full h-[1px] bg-white transition-all duration-500 ease-in-out" [ngClass]="{
              'opacity-0': isSidebarOpen,
              'opacity-100': !isSidebarOpen
            }"></div>
          <div class="line w-full h-[1px] bg-white transition-all duration-500 ease-in-out" [ngClass]="{
              '-rotate-45 translate-y-[-8px]': isSidebarOpen,
              'rotate-0 translate-y-0': !isSidebarOpen
            }"></div>
        </div>
      </button>
    </div>

    <!-- LOGO -->
    <div class="logo relative flex flex-col items-center mt-1 cursor-pointer" routerLink="/">
      <img class="w-4 md:w-6 absolute right-0 top-2 md:top-0 cursor-pointer" src="/Images/logo.svg" />
      <a class="font-medium text-3xl md:text-4xl text-white p-3" style="font-family: 'Poor Richard', serif">
        Vinto
      </a>
    </div>

    <!-- links -->
    <div class="router hidden md:flex h-full justify-center items-center gap-5">
      <a routerLink="/" class="text-white transition-all duration-500 active:scale-95 border-b-[1px] border-transparent"
        [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="border-white">Home</a>
      <a routerLink="/about"
        class="text-white transition-all duration-500 active:scale-95 border-b-[1px] border-transparent"
        routerLinkActive="border-white">About Us</a>
      <a routerLink="/products"
        class="text-white transition-all duration-500 active:scale-95 border-b-[1px] border-transparent"
        routerLinkActive="border-white">Products</a>
    </div>

    <!-- ICONS -->
    <div class="icons h-full flex justify-center items-center cursor-pointer gap-4">
      <div (click)="toggleNotifications()" class="relative">
        <a class="notification cursor-pointer hover:scale-105 active:scale-95">
          <i class="fa-solid fa-bell text-white text-lg"></i>
          <span *ngIf="notificationCount > 0"
            class="absolute top-0 right-0 translate-x-1 -translate-y-1 bg-red-500 text-white text-[10px] text-center items-center font-bold rounded-full w-3 h-4 flex justify-center">
            {{ notificationCount }}
          </span>
        </a>
        <div *ngIf="notificationDropDown"
          class="absolute right-0 mt-4 w-64 max-h-64 bg-neutral-900 text-white shadow-lg z-50 overflow-y-auto">
          <div class="bg-black text-lg w-full h-9 px-2 sticky top-0 flex justify-between items-center">
            <span>Notifications</span>
            <button *ngIf="notifications.length > 0" class="text-xs text-gray-400 hover:text-white"
              (click)="clearAllNotifications(); $event.stopPropagation()">
              Clear All
            </button>
          </div>
          <div class="flex flex-col mt-1 w-full">
            <!-- Notification items -->
            <div *ngFor="let notification of notifications"
              class="flex gap-2 w-full border-b-[1px] border-b-light-color p-2">
              <div class="flex-shrink-0">
                <i [ngClass]="{
                    'fa-circle-check text-green-500':
                      notification.type === 'success',
                    'fa-circle-exclamation text-red-500':
                      notification.type === 'error',
                    'fa-triangle-exclamation text-yellow-500':
                      notification.type === 'warning',
                    'fa-circle-info text-blue-500': notification.type === 'info'
                  }" class="fa-solid mt-1"></i>
              </div>
              <div class="flex-1">
                <p class="text-sm">{{ notification.message }}</p>
                <p class="text-xs text-gray-400">
                  {{ notification.timestamp | date : "short" }}
                </p>
              </div>
            </div>

            <!-- Empty state -->
            <div *ngIf="notifications.length === 0" class="p-4 text-center text-gray-400">
              No notifications
            </div>
          </div>
        </div>
      </div>
      <a class="cursor-pointer hover:scale-105 active:scale-95" routerLink="/wishlist" *ngIf="isLoggedIn"><i
          class="fa-solid fa-heart text-white hover:scale-105 active:scale-95"></i></a>
      <div class="relative history" *ngIf="isLoggedIn">
        <a routerLink="/history" class="notification cursor-pointer hover:scale-105 active:scale-95">
          <i class="fa-solid fa-truck-ramp-box text-white hover:scale-105 active:scale-95"></i>
        </a>
      </div>
      <a class="relative cursor-pointer" routerLink="/cart" *ngIf="isLoggedIn"><i
          class="fa-solid fa-cart-shopping text-white"></i>
        <span *ngIf="numOfItems > 0"
          class="absolute flex items-center justify-center top-0 right-0 translate-x-1 -translate-y-2 bg-red-500 text-white text-[10px] text-center font-bold rounded-full w-3 h-4">
          {{ numOfItems }}
        </span></a>
    </div>

    <!-- flag -->
    <div class="flag h-full flex justify-center items-center cursor-pointer w-6 md:w-8" (click)="toggleFlag()">
      <img [src]="flagSrc" alt="Flag" class="transition-all duration-500 ease-in-out active:scale-0 active:opacity-0" />
    </div>

    <!-- Profile Dropdown -->
    <div
      class="relative hidden md:block cursor-pointer btn btn-ghost btn-circle avatar w-10 rounded-full transition-transform duration-300"
      (click)="toggleDropdown()">
      <!-- <img
        class="w-full h-full object-cover rounded-full"
        src="/Images/dress.jfif"
        alt=""
      /> -->

      <ng-container *ngIf="isLoggedIn; else defaultIcon">
        <img [src]="profilePictureUrl" alt="Profile Picture"
          class="w-full h-full object-cover rounded-full text-white fa-circle-user" />
      </ng-container>

      <ng-template #defaultIcon>
        <i class="fa-regular fa-circle-user text-white text-4xl cursor-pointer transition-transform duration-300"></i>
      </ng-template>
      <!-- Dropdown Menu -->
      <div *ngIf="dropdownOpen" class="absolute right-0 mt-2 w-32 bg-neutral-900 text-white shadow-lg rounded-lg z-10">
        <!-- If user is logged in -->
        <ng-container *ngIf="isLoggedIn; else loggedOutMenu">
          <a routerLink="/profile/data" class="block px-4 py-2 rounded-t-lg hover:bg-black cursor-pointer"
            (click)="closeDropdown()">Profile</a>

          <a class="px-4 py-2 rounded-b-lg cursor-pointer flex gap-2 hover:bg-black hover:gap-3 justify-center items-center transition-all duration-300"
            (click)="signOut()">Sign Out <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </ng-container>

        <!-- If user is logged out -->
        <ng-template #loggedOutMenu>
          <a routerLink="/signup" class="block px-4 py-2 hover:bg-black rounded-t-lg" (click)="closeDropdown()">Sign
            Up</a>

          <a routerLink="/login" class="block px-4 py-2 hover:bg-black rounded-b-lg" (click)="closeDropdown()">Log
            In</a>
        </ng-template>
      </div>
    </div>

    <app-sidebar class="block md:hidden sidebar" [isOpen]="isSidebarOpen" [isLoggedIn]="isLoggedIn"
      [profilePictureUrl]="profilePictureUrl" [username]="username" (closeSidebar)="toggleSidebar()"
      (signOut)="signOut()" />
  </div>
</nav>
