<div
  class="container-fluid flex flex-col w-full h-full bg-background-color gap-3"
>
  <!-- p-title -->
  <h2 class="product-title text-3xl font-semibold px-8 py-6">Product Title</h2>

  <hr class="bg-gray-color text-gray-color h-[2px]" />

  <div class="w-full flex flex-col bg-background-color px-8 gap-5">
    <!-- p-desc -->
    <div class="w-full">
      <!-- Expand/Collapse Button -->
      <div class="flex justify-end">
        <button
          (click)="isExpanded = !isExpanded"
          class="text-gray-500 hover:text-black transition active:scale-95"
        >
          <i
            [ngClass]="
              isExpanded ? 'fa-solid fa-angle-up' : 'fa-solid fa-angle-down'
            "
          ></i>
        </button>
      </div>
      <p
        class="desc text-light-color break-words whitespace-normal transition-all ease-in-out"
        [ngClass]="{ 'line-clamp-2': !isExpanded, 'max-h-[none]': isExpanded }"
      >
        Step into elegance with this vintage dress, A timeless classic for a
        timeless style! Step into elegance with this vintage dress, A timeless
        classic for a timeless style! Step into elegance with this vintage
        dress, A timeless classic for a timeless style! Step into elegance with
        this vintage dress, A timeless classic for a timeless style!
      </p>
    </div>
    <!-- p-price -->
    <div class="price flex flex-col">
      <div class="">
        <p class="text-2xl font-semibold">$ <span>135.00</span></p>
      </div>

      <div class="flex gap-2">
        <p class="text-gray-color text-sm line-through">160.00</p>
        <div class="flex">
          <p class="text-xs text-red-500">9%</p>
          <i class="fa-solid fa-tag text-red-500"></i>
        </div>
      </div>
    </div>
    <!-- p-rate & reviews -->
    <div class="flex w-52 justify-between">
      <div class="rate">
        <i class="fa-solid fa-star text-yellow-color"></i>
        <i class="fa-solid fa-star text-yellow-color"></i>
        <i class="fa-solid fa-star text-yellow-color"></i>
        <i class="fa-solid fa-star text-yellow-color"></i>
        <i class="fa-solid fa-star text-yellow-color"></i>
      </div>
      <div
        class="font-semibold text-sm active:scale-95 hover:scale-110 cursor-pointer border-b-[1px] border-black"
      >
        135 <i class="fa-solid fa-chart-simple"></i>
      </div>
    </div>
    <!-- Size -->
    <p class="text-2xl font-semibold">Size</p>
    <div class="size flex gap-2">
      <div
        *ngFor="let size of sizes; let i = index"
        [ngClass]="{ 'border-b border-black': activeSize === i }"
        (click)="setActive('size', i)"
        class="flex text-center pb-1 transition-all cursor-pointer active:scale-95"
      >
        <div class="w-8 h-8">{{ size }}</div>
      </div>
    </div>
  </div>

  <!-- ADD TO CART  -->
  <div class="w-full flex justify-center p-3">
    <app-add-to-cart-btn />
  </div>
</div>
