<div
  class="container-fluid flex flex-col w-full h-full bg-background-color gap-3"
>
  <!-- p-title -->
  <h2 class="product-title text-3xl font-semibold px-8 py-6">
    Product Details
  </h2>

  <hr class="bg-gray-color text-gray-color h-[2px]" />

  <div class="w-full flex flex-col bg-background-color px-8 p-6 gap-5">
    <!-- p-desc -->
    <p class="desc text-light-color">
      Step into elegance with this vintage dress, A timeless classic for a
      timeless style!
    </p>
    <!-- p-price -->
    <p class="price text-2xl font-semibold">$ <span>135.00</span></p>
    <!-- p-rate & reviews -->
    <div class="flex w-52 justify-between">
      <div class="rate">
        <i class="fa-solid fa-star text-yellow-color"></i>
        <i class="fa-solid fa-star text-yellow-color"></i>
        <i class="fa-solid fa-star text-yellow-color"></i>
        <i class="fa-solid fa-star text-yellow-color"></i>
        <i class="fa-solid fa-star text-yellow-color"></i>
      </div>
      <div
        class="font-semibold text-sm active:scale-95 hover:scale-110 cursor-pointer border-b-[1px] border-black"
      >
        135 <i class="fa-solid fa-chart-simple"></i>
      </div>
    </div>
    <!-- Color -->
    <p class="text-2xl font-semibold">Color</p>
    <div class="color flex gap-2">
      <div
        *ngFor="let color of colors; let i = index"
        [ngClass]="{ 'border-b border-black': activeColor === i }"
        (click)="setActive('color', i)"
        class="pb-1 transition-all cursor-pointer active:scale-95"
      >
        <div
          class="rounded-full w-8 h-8"
          [ngStyle]="{ 'background-color': color }"
        ></div>
      </div>
    </div>
    <!-- Size -->
    <p class="text-2xl font-semibold">Size</p>
    <div class="size flex gap-2">
      <div
        *ngFor="let size of sizes; let i = index"
        [ngClass]="{ 'border-b border-black': activeSize === i }"
        (click)="setActive('size', i)"
        class="flex text-center pb-1 transition-all cursor-pointer active:scale-95"
      >
        <div class="w-8 h-8">{{ size }}</div>
      </div>
    </div>
  </div>

  <!-- ADD TO CART  -->
  <div class="w-full flex justify-center p-3">
    <app-add-to-cart-btn />
  </div>
</div>
