<div
  class="container-fluid flex flex-wrap justify-evenly items-center py-16 px-4 gap-6"
>
  <div
    class="card relative cursor-pointer rounded-lg shadow-sm flex flex-col gap-5 bg-background-color overflow-hidden h-96 w-72"
  >
    <p
      *ngIf="activeTab === 'Offers'"
      class="offer absolute top-2 left-2 bg-black text-white font-medium text-base px-1 text-center"
    >
      3% OFF
    </p>
    <figure class="h-30 w-full">
      <img
        src="/Images/test-card.png"
        alt="Shoes"
        class="product-img w-full h-full object-cover"
      />
    </figure>
    <div class="card-body flex justify-between px-3">
      <h2 class="card-title font-medium">Card Title</h2>
      <div class="flex gap-3">
        <i
          class="cart fa-solid fa-cart-shopping cursor-pointer hover:scale-110 transition-all active:scale-95"
        ></i>
        <i
          [ngClass]="{ 'fa-regular': !isFavorite, 'fa-solid': isFavorite }"
          class="wish-list fa-heart cursor-pointer hover:scale-125 scale-105 transition-all active:scale-95"
          (click)="toggleFavorite()"
        ></i>
      </div>
    </div>
    <div class="card-Info p-3 flex justify-between">
      <p class="price font-semibold text-base">$<span>5.00</span></p>
      <div class="rate">
        <i class="fa-solid fa-star text-yellow-color"></i>
        <i class="fa-solid fa-star text-yellow-color"></i>
        <i class="fa-solid fa-star text-yellow-color"></i>
        <i class="fa-solid fa-star text-yellow-color"></i>
      </div>
    </div>
  </div>
</div>
