<div class="grid lg:grid-cols-12 w-screen h-full overflow-x-hidden">
  <!-- title & count items -->
  <div class="w-[80%] lg:col-span-12 mx-auto mt-6 overflow-hidden">
    <div class="flex items-center justify-center">
      <h1 class="text-3xl font-semibold text-center">Wish List</h1>
    </div>
    <hr class="bg-gray-color text-gray-color h-[2px] mt-3" />
    <!-- remove all -->
    <div class="flex items-center justify-between mt-3">
      <p class="items text-lg font-semibold text-center">7 items</p>
      <button
        class="remove-all text-lg font-semibold hover:text-red-600 active:scale-95"
        (click)="removeAllProducts()"
      >
        Remove All
      </button>
    </div>
    <!-- Wishlist-Products -->
    <div class="Products flex flex-col gap-4 mt-7">
      <div
        *ngFor="let product of wishlist; let i = index"
        class="product flex items-center justify-between shadow-md rounded-lg"
        (click)="goToDetails(product)"
      >
        <div class="flex items-center gap-4">
          <img
            [src]="product.image"
            alt=""
            class="w-[100px] h-[100px] rounded-lg object-cover"
          />
          <div class="flex flex-col gap-2">
            <h1 class="text-xl font-semibold">{{ product.name }}</h1>
            <p class="text-gray-color text-sm">{{ product.category }}</p>
            <p class="text-base font-semibold">EGP {{ product.price }}</p>
          </div>
        </div>
        <button
          (click)="removeProduct(i, $event)"
          class="remove text-lg font-semibold active:scale-95 hover:scale-110 mr-10"
        >
          <i class="fa-solid fa-trash-can text-red-600"></i>
        </button>
      </div>
    </div>
    <!-- end of products container -->
  </div>
</div>
