<nav class="flex flex-col sm:flex-row items-center gap-4 p-2 bg-white border-b border-gray-200">
  <div class="flex flex-1 sm:min-w-fit max-w-xl">
    <div class="relative">
      <input #key type="text" placeholder="Search" (input)="search(key.value)"
        class="w-full pl-8 pr-3 py-2 text-sm border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all">
      <svg class="w-4 h-4 absolute left-2 top-2.5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    </div>

  </div>

  <div class="flex flex-col sm:flex-row w-full sm:w-auto items-center justify-center md:justify-end gap-3">
    <button (click)="requestDelete()" [disabled]="!hasSelectedItems"
      class="justify-center px-4 w-full sm:w-auto md:w-30 lg:w-30 py-2 text-sm font-medium text-red-600 border border-red-600 hover:bg-red-600 hover:text-white rounded-lg transition-colors flex items-center gap-1">
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
      </svg>
      Delete
    </button>

    <button
      class="justify-center px-4 w-full sm:w-auto md:w-30 lg:w-30 py-2 text-sm font-medium text-blue-600 border border-blue-500 hover:bg-blue-600 hover:text-white rounded-lg transition-colors flex items-center gap-1">
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
      Add
    </button>
  </div>
</nav>
