<div
  class="container-fluid flex flex-col flex-wrap justify-center items-center py-16 px-4 gap-6"
>
  <h2 class="text-4xl font-bold">Trending Prodcuts</h2>
  <div class="tabs flex justify-center items-center gap-1">
    <button
      *ngFor="let tab of ['New Arrivals', 'Best Sellers', 'Offers']"
      (click)="setActiveTab(tab)"
      [ngClass]="{
        'bg-black text-white': activeTab === tab,
        'bg-white text-black': activeTab !== tab
      }"
      class="px-4 py-2 rounded-xl mt-4 transition-all duration-500 active:scale-95"
    >
      {{ tab }}
    </button>
  </div>
</div>
