<div class="h-[500px] w-60 sm:w-60 md:w-60 lg:w-60 xl:w-60">
  <div class="h-100 bg-white border-2 border-dark-gray p-1">
    <div class="flex justify-end pr-5 pt-3">
      <ngx-skeleton-loader
        count="1"
        appearance="circle"
        [theme]="{ width: '24px', height: '24px' }"
      ></ngx-skeleton-loader>
    </div>

    <ngx-skeleton-loader
      count="1"
      [theme]="{
        height: '240px',
        width: '100%',
        'border-radius': '0.5rem',
        margin: '1rem 0'
      }"
    >
    </ngx-skeleton-loader>

    <div class="flex justify-center">
      <ngx-skeleton-loader
        count="1"
        [theme]="{ width: '120px', height: '40px', 'border-radius': '8px' }"
      >
      </ngx-skeleton-loader>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center space-y-3 mt-4">
    <!-- Stars -->

    <div class="flex gap-1">
      <i
        *ngFor="let i of [1, 2, 3, 4, 5]"
        class="fa-solid fa-star text-[#E2E0E0]"
      ></i>
    </div>
    <div class="w-full flex flex-col items-center space-y-3">
      <!-- Title -->
      <div class="w-4/5 h-5">
        <ngx-skeleton-loader
          count="1"
          [theme]="{ width: '100%', height: '100%', 'border-radius': '4px' }"
        ></ngx-skeleton-loader>
      </div>

      <!-- Price -->
      <div class="w-3/5 h-4">
        <ngx-skeleton-loader
          count="1"
          [theme]="{ width: '100%', height: '100%', 'border-radius': '4px' }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>
